html {
    font-size: 12px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xx {
    width: auto;
    right: 0;
    left: 190px;
    position: absolute;
}

#sidebar {
    height: 100vh;
    position: fixed;
    width: 190px;
    --bs-bg-opacity: 1;
    z-index: 999;
}

#content {
    /* margin-left: 190px; */
}